.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  font-family: var(--font-regular);
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-family: var(--font-semiBold);
      font-size: 20px;
      color: var(--light-black-text-color);
    }
  }
  .contentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 13rem;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 6px 0px 18px -11px rgba(143, 143, 143, 0.66);
    .innerEditWrapper {
      align-self: flex-end;
    }
    .imageWrapper {
      overflow: hidden;
      border-radius: 20px;
      margin: auto;
      .imageMedia {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    video {
      border-radius: 20px;
    }
    .reactPlayer {
      overflow: hidden;
    }
    .overlayContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 0px);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 20px;
    }
    .bottomWrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 0.5rem;
      margin-top: 0.5rem;
      .title {
        color: var(--light-black-color);
        font-family: var(--font-semiBold);
        font-size: 14px;
        font-style: normal;
      }
      .ctaButtonLink {
        width: 100%;
      }
      .ctaButton {
        width: 100%;
        flex-direction: row;
        border-radius: 27px;
        background-color: var(--primary-color);
        border: none;
        color: var(--white-color);
        font-family: var(--font-regular);
        font-size: 14px;
        text-align: center;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}
.addMoreContainer {
  width: 13rem;
  height: 100%;
}
.addMoreWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px dashed var(--primary-color);
  background: "#f5f7ff";
  border-radius: 12px;
  .addMoreInnerWrapper {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .addMoreIconWrapper {
      border: 1px solid var(--primary-color);
      border-radius: 50%;
      background: var(--primary-color);
      padding: 4px 4px 0 4px;
    }
    .addMoreButton {
      font-size: 16px;
      color: var(--primary-color);
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.listScroller {
  display: flex;
  overflow-x: scroll;
}
.listScroller::-webkit-scrollbar {
  display: none;
}

.viewMore {
  color: var(--light-black-text-color);
  font-family: var(--font-regular);
  font-size: 12px !important;
  color: #4589e4;
  cursor: pointer;
}

.mediaContainer {
  position: relative;

  .options {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 6px;
    flex-direction: column;
    gap: 4px;

    .editIcon {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
    }
    .linkIcon {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
    }
  }
}
.header {
  font-family: var(--font-semiBold);
  font-size: 20px;
  line-height: 32px;
  color: var(--header-font-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.disableSubSection {
  pointer-events: none;
  opacity: 0.5;
}
