.addYTLinksContainer {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .fetchedForm {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
    .reactPlayerContainer {
      width: 320px;
      height: 340px;
      background: var(--neutral-200);
    }
  }
}
.divider {
  border: 0.06rem solid rgb(94 94 94 / 20%);
  margin: 8px 0;
}
