.mainWrapper {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .fetchedForm {
      .addWrapper {
        width: 100%;
        height: 100%;
        border: 1px dashed gray;
        border-radius: 12px;
        height: 6rem;
      }
      .addThumbnail {
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1677ff;
        font-family: var(--font-semiBold);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        cursor: pointer;
      }
      .uploadWrapper {
        display: flex;
        border: 1px dashed gray;
        border-radius: 12px;
        overflow: hidden;

        .imageContainer {
          width: 6rem;
          height: 6rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .imageContainer img {
          object-fit: contain;
        }

        .uploadActions {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          padding: 1rem;
          width: 100%;

          .updateHeader {
            color: #1677ff;
            font-family: var(--font-semiBold);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            cursor: pointer;
          }

          .removeHeader {
            color: gray;
            font-family: var(--font-semiBold);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            cursor: pointer;
            width: fit-content;
          }
        }
        .uploadBtn {
          width: fit-content;
        }
      }
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.transitionEffect {
  animation: fadeIn 0.3s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
