.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  gap: 1rem;
  width: 100%;

  .strong {
    width: max-content;
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: 600;
    color: #363c45;
  }
}
